.flex-container {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    cursor: url("images/cursor.png"), auto;
}

.main-container {
    height: 100%;
    margin: 0 auto;
}

.hero-bar{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
}

.hero-content {
    height: 250px;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    margin: 100px;
}

.sign-up {
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sign-up-caption {
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 20px;
}

.sign-honk {
    border: none;
    background-color: #3882F6;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    cursor: url("images/cursor.png"), auto;
}

.logo {
    padding: 0 60px;
    width: 100px;
    height: auto;
}

.okipullup {
    width: 550px;
    height: auto;
    border-radius: 25px;
}

.birdtle, .honkmander, .bulbagoose {
    width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 0 100px;
}

.pkmn {
    display: block;
}

.name {
    text-align: center;
    color: #1F2937;
    font-weight: bold;
    font-size: 28px;
}

.quoted {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: #1F2937;
}

.student {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color:#1F2937;
    padding-left: 650px;
}
h1 {
    font-size: 60px;
    color: #F9FAF8;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
}

nav {
    align-self: right;
    padding: 0 80px;
}

a:hover {
    text-decoration: underline;
    color: #E5E7EB;
    cursor: url("images/cursor.png"), auto;
}

a:active {
    cursor: url("images/cursor.png"), auto;
}

a:visited {
    cursor: url("images/cursor.png"), auto;
}

a {
    text-decoration: none;
    padding: 0 30px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    cursor: url("images/cursor.png"), auto;
}
.one, .two, .three, .four, .five {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one, .five {
    background-color: #1F2937;
}

.one {
    height: 650px;
    align-items: stretch;
    justify-content: stretch;
}

.two, .four {
    background-color: #F9FAF8;
    height: 500px;
}

.three {
    background-color: #E5E7EB;
    height: 500px;;
}

.five {
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    height: 5vh;
}